body {
    margin: 0;
    font-family: Arial;
    background: #eef2f7;
}

/* HEADER */
.topbar {
    background: #0b2a4a;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.login {
    color: white;
    cursor: pointer;
    background: #163a5c;
    padding: 8px 12px;
    border-radius: 6px;
}

/* TITLE */
.title {
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
    color: #0b2a4a;
    letter-spacing: 1px;
}

/* PANEL */
.panel {
    margin: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    background: #0b2a4a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* TABLE */
.table-box {
    margin: 20px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 12px;
    text-align: center; /* 👈 ВАЖНО: идеално подравняване */
    border-bottom: 1px solid #ddd;
}

th {
    background: #0b2a4a;
    color: white;
}

/* IMAGE */
td img {
    width: 70px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
}

/* LOGIN */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.modal-box {
    background: white;
    width: 320px;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

/* GUEST MODE */
.guest-box {
    margin: 20px;
    padding: 10px;
    background: #dbeafe;
    border-left: 5px solid #0b2a4a;
}

/* ADMIN ONLY */
.admin-only {
    display: none;
}
